<%- include("partials/header") -%> <%- include("partials/navbar") -%>

<!-- FindOutMore section -->
<section class="updateSection">
  <div class="container w-75">
    <div class="row mt-5">
      <div class="col-md-6 text-start text-md-end">
        <img
          class="imageFindOutMore img-fluid"
          src="../images/<%=animal.image%>"
          alt="<%= animal.image %>"
        />
      </div>
      <div class="col-md-6 text-start">
        <h1 class="mt-3 mt-sm-0"><%= animal.name %></h1>
        <p>Age: <%= animal.age %> years</p>
        <p>Type: <%= animal.type %></p>
        <p>Description: <%= animal.description %></p>
        <a class="mt-2 mt-lg-5 btn btn-light" href="/Animals/<%= animal.type %>"
          >Go back</a
        >
        <!-- Timify Booking Link -->
        <div
          class="timify-button btn btn-success mt-2 mt-lg-5"
          data-account-id="60a119441243cb118d389fc1"
        >
          Book appointment to meet me
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
